.bg-img  {
    /* The image used */
    background-image: url("/assets/images/body-top.jpg");
    width: 1280px;
    height: 522px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }
  
  
  /* The navbar */
  .topnav {
    overflow: hidden;
    background-color: #1a1d25;
    width: 1280px;
    height: 62px;
    
  }
  .topnav p {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      nav-right: auto;
      padding-left: 50px ;
      
      
  }
 

  
  /* Navbar links */
  .topnav a  {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    nav-right: auto;
    padding-right: 50px;
    
    
  }
  
  .topnav a:hover {
    background-color:#068fd5;
    color: black;
    
    
  }